.pages-home {
  display: flex;
}

.arrows {
  display: flex;
  justify-content: center;
  > * {
    margin: 5px;
  }
}

#map {
  width: 70%;
  height: calc( 100vh - 76px );
  position: sticky;
  top: 76px;
}

.pages-home form {
  padding: 10px;
}
